
#news .title {
    color: #7971EA;
    font-size: 30px;
    font-weight: 600;
    font-family: Mukta;
}
#news .subtitle {
    color: #8C92A0;
}
#news .left {
    color: #222;
    /* background-color: #3A2EE0; */
}
#news .right .col-4 {
    padding-bottom: 20px;
}
#news .right .items-news {
    padding-top: 10px;
}
#news .item .image {
    overflow: hidden;
}
#news .item .image img {
    width: 100%; 
    transform: scale(1);
    transition: all 0.5s ease;
}
#news .item:hover .image img {
    transform: scale(1.25);
    transition: all 0.5s ease;
}
#news .item .content {
    position: relative;
    background-color: #fff;
    margin-top: -20px;
    padding: 10px 12px;
    box-shadow: 0px 4px 8px -2px #7aa5bb;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
#news .item .content .content__title {
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
#news .item .content .content__subtitle {
    display: flex;
    justify-content: center;
}
#news .item .content .content__subtitle:before {
    content: "";
    position: absolute;
    background-color: #7aa5bb;
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-15px);
}
#news .item .content .content__subtitle span {
    background-color: #7aa5bb;
    border-radius: 5px;
    z-index: 10;
}
#news .item .content .content__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

@media (max-width: 1023px) {
    #news .right .items-news .item{
        max-width: 330px;
    }
}
#news.news-category .right  {
    gap: 24px;
}
@media (min-width: 999px) {
    #news.news-category .right {
        gap: 0px;
    }
}
/* #news.news-detail .left .title {
    font-size: 
} */
#news.news-detail .left .content {
    padding-top: 20px;
}
#news-detail .right .items-news .item {
    max-width: 330px;
}
.site-top-icons .has-children {
    position: relative; }
    .site-top-icons .has-children .dropdown {
      visibility: hidden;
      opacity: 0;
      top: 100%;
      position: absolute;
      text-align: left;
      border-top: 2px solid #7971ea;
      -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
      border-left: 1px solid #edf0f5;
      border-right: 1px solid #edf0f5;
      border-bottom: 1px solid #edf0f5;
      padding: 0px 0;
      margin-top: 20px;
      margin-left: 0px;
      background: #fff;
      -webkit-transition: 0.2s 0s;
      -o-transition: 0.2s 0s;
      transition: 0.2s 0s; }
      .site-top-icons .has-children .dropdown a {
        font-size: 16px;
        text-transform: none;
        letter-spacing: normal;
        -webkit-transition: 0s all;
        -o-transition: 0s all;
        transition: 0s all; }
      .site-top-icons .has-children .dropdown .active > a {
        color: #7971ea !important; }
      .site-top-icons .has-children .dropdown > li {
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 100px; }
        .site-top-icons .has-children .dropdown > li > a {
          padding: 9px 20px;
          display: block; }
          .site-top-icons .has-children .dropdown > li > a:hover {
            background: #f4f5f9;
            color: #25262a; }
        .site-top-icons .has-children .dropdown > li.has-children > a:before {
          content: "\e315";
          right: 20px; }
        .site-top-icons .has-children .dropdown > li.has-children > .dropdown, .site-top-icons .has-children .dropdown > li.has-children > ul {
          left: 100%;
          top: 0; }
        .site-top-icons .has-children .dropdown > li.has-children:hover > a, .site-top-icons .has-children .dropdown > li.has-children:active > a, .site-top-icons .has-children .dropdown > li.has-children:focus > a {
          background: #f4f5f9;
          color: #25262a; }
    .site-top-icons .has-children a {
      text-transform: uppercase; }
    .site-top-icons .has-children:hover > a, .site-top-icons .has-children:focus > a, .site-top-icons .has-children:active > a {
      color: #7971ea; }
    .site-top-icons .has-children:hover, .site-top-icons .has-children:focus, .site-top-icons .has-children:active {
      cursor: pointer; }
      .site-top-icons .has-children:hover > .dropdown, .site-top-icons .has-children:focus > .dropdown, .site-top-icons .has-children:active > .dropdown {
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        margin-top: 0px;
        visibility: visible;
        opacity: 1; }


.site-footer span {
    font-weight: 600;
    color:#7971EA;
}